.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
html{
  min-height:100%;
}
body{
  min-height:100%;
  min-width:100%;
  position:absolute;
  margin:0;
  padding:0;
}
#root{
  height:100vh;
}
#root > div {
  height:100%;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body a{
  color:#000;
}
body a:hover{
  color:red;
}
.app-title{
  font-size:4em;
  flex:50;
  text-align:right;
  padding-right:20px;
}
.search-section{
  padding:2em 0 2em 0;
  display:flex;
  background-color:#f9c1ad;
  position:fixed;
  width:100%;
  z-index:1;
}
.search-left{
  flex:50;
  padding-left:2em;
}
.search-recipes-label{
  font-weight:900;
  font-size:1.5em;
  vertical-align: middle;
  margin-right:1em;
}
.search-button{
  background:yellow;
  border:2px solid #000;
  outline:0;
  font-size:1.1em;
}
.search-section input{
  margin-right: 1em;
  line-height: 1.7em;
  border-bottom: 2px solid #000;
  border-top: 0;
  border-left: 0;
  outline: 0;
  border-right: 0;
  text-align:center;
  background-color:inherit;
  font-size:1.3em;
}
.recipes-container{
  display:flex;
  width:100%;
  height:100%;
}
.displayed-recipe {
  margin-left:2em;
  margin-right:2em;
  padding:0 2em 0 2em;
  flex: 70;
}

.displayed-recipe h2 {
  font-size:2.5em;
  margin-bottom:0.2em;
}
.source-text {
  font-size:0.3em;
  font-weight:100;
}
.recipe-details img {
  object-fit:contain;
}
.selected-info {
  padding:1em;
}
.selected-info h4{
  text-transform:uppercase;
}
.section-links button {
  font-size:1.5em;
  margin-top:0.5em;
  color:#000;
  text-decoration: none;
  border:none;
  outline:none;
  background-color:#fff;
  margin-right:1em;
  margin-left:1em;
}
.section-links button:hover {
  cursor:pointer;
  color:red;
}
.container-left{
  flex:40;
  background-image: url("./img/gathering_medium.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position:right;
  overflow:scroll;
}
@media screen and (min-width:1000px) {
  .container-left{
    background-image: url("./img/gathering_large.jpg");
  }
}
@media screen and (max-width:500px){
  .container-left{
    background-image: url("./img/gathering_small.jpg");
  }
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.container-right{
  flex:60;
}
.results-list {
  margin-left:10em;
  margin-right:10em;
  padding-top:12em;
}


.results-list li {
  list-style:none;
  padding:1em;
  border:3px solid #000;
  margin-bottom:1.5em;
  text-align:center;
  animation: 0.5s ease-out 0s 1 fadeIn;
  background-color:#fff;
}
.results-list li:hover {
  background-color:yellow;
  -webkit-transition: background-color 0.6s ease-out;
  -moz-transition: background-color 0.6s ease-out;
  -o-transition: background-color 0.6s ease-out;
  transition: background-color 0.6s ease-out;
}
.results-list h4 {
  margin-top:0.3em;
  margin-bottom:0.3em;
}
.bottom-thick{
  border-bottom:4px solid #000;
}
.bottom-med{
  border-bottom:3px solid #000;
}
.bottom-thin{
  border-bottom:2px solid #000;
}
.bottom-thin:last-child{
  border-bottom:0;
}
.nutrition-label{
  padding:3px;
}
.nutrition-box{
  border:2px solid #000;
  display:inline-block;
  padding:10px;
}
.section-links button.bold-selected{
  font-weight:900;
}
.selected-info{
  display:flex;
  align-items:center;
}