.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
html{
  min-height:100%;
}
body{
  min-height:100%;
  min-width:100%;
  position:absolute;
  margin:0;
  padding:0;
  font-family:'Cabin', sans-serif;
}
#root > div > div {
  height:100%;
}
select {
  font-size:0.9em;
  background-color:#a72926;
  color:#fff;
  border-bottom:2px solid #fff;
  border-top:0;
  border-left:0;
  border-right:0;
  padding-bottom:0.3em;
  text-align-last:center;
  -webkit-appearance: none;
  border-radius:0;
  margin-left:1em;
}
select:hover{
  cursor:pointer;
}

#root{
  height:100vh;
}
#root > div {
  height:100%;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body a{
  color:#000;
}
body a:hover{
  text-decoration:none;
}
.app-title{
  font-size:3em;
  flex:50;
  display:flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right:20px;
  font-family: 'Oleo Script', sans-serif;
  color:#fff;
}
.app-title img {
  height:1.2em;
  margin:0 0.5em;
}
.search-section{
  padding:1em 0 1em 0;
  display:flex;
  flex-wrap:wrap;
  width:100%;
  background-color:#a72926;
  align-items:center;
  color:#fff;
  position:fixed;
  z-index:1;
  top:0;
}
.search-left{
  flex-basis:50%;
  flex-grow:1;
}
.search-left input {
  flex-grow:1;
}
.search-right{
  flex-basis:50%;
  flex-grow:1;
}
.keep-together{
  white-space: nowrap;
  /*
  display:inline-block;*/
  padding-left:2em;
  display:flex;
}
.search-button {
  flex-grow:0.1;
  margin-right:1em;
}
.search-button, button {
  background:#a72926;
  font-family:'Oleo Script',sans-serif;
  border:2px solid #fff;
  color:#fff;
  font-size:1.3em;
  border-radius:5px;
}
.search-button:hover, button:hover {
  color:yellow;
  border:2px solid yellow;
  cursor:pointer;
}
.search-section input{
  margin-right: 1em;
  line-height: 1.7em;
  border-bottom: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  text-align:center;
  background-color:inherit;
  font-size:1.2em;
  color:#fff;
}

/*mobile*/
.search-section.mobile {
  width:100%;
  height:100%;
  position:absolute;
  display:flex;
  justify-content: center;
  align-items: flex-start;
}
.search-section.mobile > div {
  width:100%;
  text-align:center;
  background-color:#a72926;
}
.search-section.mobile > div > input {
  margin-right:0;
}
.search-section.mobile .options-box > div input:last-child {
  margin-right:0;
}
.search-section.mobile .search-button {
  margin-right:0;
}
.search-section.mobile input::placeholder {
  color:#fff;
  opacity:0.4;
}
.search-section.mobile .options-box {
  position:relative;
}
.search-section.mobile .options-box div:last-child {
  padding-bottom:2em;
}
/* free icon taken from https://www.flaticon.com/authors/freepik */
.search-section.mobile > img {
  max-width:50%;
  max-height:30%;
}
.results-mobile-wrapper {
  background-color:#a72926;
  overflow:scroll;
  width:100%;
  height:100%;
}
.results-list.mobile a {
  color:#fff;
}
.results-list.mobile li {
  list-style:none;
  border:3px solid #fff;
  color:#fff;
  margin-bottom:1.5em;
  text-align:center;
  animation: 0.5s ease-out 0s 1 fadeIn;
  background-color:#a72926;
}
.results-list.mobile li:hover {
  background-color:#a72926;
}
.back-nav {
  position:fixed;
  top:10px;
  left:10px;
}
.close-nav {
  position:fixed;
  top:10px;
  right:10px;
  text-align:center;
}
.displayed-recipe.desktop .close-nav {
  top:5%;
  right:25%;
}
.displayed-recipe .selected-info {
  border:0;
}
.displayed-recipe img {
  width:100%;
  margin-top:0;
}
.displayed-recipe h2 {
  font-size:2em;
  padding: 0 1em;
}
.search-section .options-box input{
  margin-right:1em;
  margin-left:1em;
  padding-bottom:0.3em;
  line-height: 0.8em;
  font-size:0.9em;
  width:3em;
}
.center-stuff{
  display:flex;
  justify-content: center;
}
.advanced-options {
  display:flex;
  justify-content: flex-start;
}
.options-box{
  position:fixed;
  font-size:1.3em;
  background-color:#a72926;
  z-index:2;
}
.options-box div:first-child {
  padding-top:2em;
}
.option-block{
  margin: 0 1em 0 1em;
}
.options-box div {
  padding: 0.75em;
}
.update-button{
  font-size:0.8em;
}
.recipes-container{
  width:100%;
  height:100%;
}
.displayed-recipe {
  margin:0;
  padding:0;
  text-align:center;
  width:100%;
}
/*overlay*/
.window-overlay{
  display:block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
  background: rgba(0,0,0,.7);
  overflow-y:auto;
}
.recipe-modal{
  background: #eee;
  width: 40%;
  top:10%;
  margin: auto;
  margin-bottom:10%;
  position: relative;
  border-radius: 5px;
  padding: 60px;
}

.displayed-recipe h2 {
  font-size:2.5em;
  margin-bottom:0.5em;
  font-weight:100;
}
.source-text {
  font-size:0.3em;
  font-weight:100;
  margin-top:1em;
}
.displayed-recipe img {
  object-fit:contain;
  border-radius:5px;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.05);
  box-shadow: 2px 2px 3px rgba(0,0,0,.05);
}
.selected-info h4{
  font-weight:700;
  color:#a72926;
  font-size:1.4em;
}
.selected-info h5 {
  font-size:1em;
}
.section-links button {
  font-size:1.5em;
  margin-top:0.5em;
  color:#000;
  text-decoration: none;
  border:none;
  background-color:#eee;
  margin-right:1em;
  margin-left:1em;
  margin-bottom:1em;
  font-family:'Oleo Script',sans-serif;
}
.section-links button:hover {
  cursor:pointer;
}
.displayed-recipe.mobile .section-links button{
  background-color:#fff;
}
.container-left{
  min-width: 400px;
  width:100%;
  height:100%;
  overflow:scroll;
  padding-top:5em;
  background-color:#ED6;
}

@media screen and (min-width:1000px) {
  .welcome-instructions-image{
    background-image: url("./img/gathering_large.jpg");
  }
}
@media screen and (max-width:500px){
  .welcome-instructions-image{
    background-image: url("./img/gathering_small.jpg");
  }
}
@media screen and (max-width:800px) {
  .search-section {
    text-align:center;
  }
  .app-title {
    display:none;
  }
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.container-right{
  flex-grow:1;
  min-width: 400px;
  text-align:center;
  overflow:scroll;
  background-color:#eee;
  padding-top:6em;
}
.results-list {
  padding-top:5em;
  margin: 0 2em;
  font-size:14px;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
.results-list li {
  list-style:none;
  margin-bottom:3em;
  position:relative;
  text-align:center;
  animation: 0.5s ease-out 0s 1 fadeIn;
  border-radius:5px;
  height:15em;
  width:15em;
}
.results-list li:hover {
  background-color:yellow;
  cursor:pointer;
}
.results-list li img {
  border-radius:5px;
  max-width:15em;
}
.results-list li:hover {
  -ms-transform: scale(1.03, 1.03); /* IE 9 */
  -webkit-transform: scale(1.03, 1.03); /* Safari */
  transform: scale(1.03, 1.03);
}
.results-list li > div {
  position:absolute;
  border-radius:5px;
  bottom:0;
  width:100%;
  height:50%;
  background: rgba(0, 0, 0, 0.5);
  color:#fff;
  display:flex;
  flex-flow:column;
  justify-content:center;
}
.results-list h4 {
  margin-top:0.3em;
  margin-bottom:0.3em;
  font-size:1.2em;
}
.results-list a {
  color:#fff;
}
.bottom-thick{
  border-bottom:4px solid #000;
}
.bottom-med{
  border-bottom:3px solid #000;
}
.bottom-thin{
  border-bottom:2px solid #000;
}
.bottom-thin:last-child{
  border-bottom:0;
}
.nutrition-label{
  padding:3px;
  display:flex;
  justify-content: space-between;
}
.nutrition-box{
  border:2px solid #000;
  display:inline-block;
  padding:10px;
}
.section-links button.bold-selected{
  border-bottom:5px solid #000;
}
.selected-info{
  display:inline-block;
  text-align:left;
  background-color:#fff;
  padding:1em;
  margin-bottom:2em;
  border-radius:5px;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.05);
  box-shadow: 2px 2px 3px rgba(0,0,0,.05);
}
.ingredient-line{
  margin-bottom:0.8em;
  list-style:none;
  display:flex;
  align-items:center;
}
.list-bullet {
  color:#a72926;
  margin-right:5px;
  font-size:1.5em;
}
.error-message, {
  color:black;
  background-color:white;
  border:3px solid #000;
  text-align: center;
  font-size: 1.2em;
  line-height:2em;
  padding:1em;
  opacity:0.8;
}
/* loading */
.loading-text {
  color:#a72926;
}
.welcome-instructions-image .loading-text {
  color:#fff;
}

/* taken from http://tobiasahlin.com/spinkit/ */
.spinner {
  margin: 50px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.welcome-instructions-image .spinner {
  margin: 100px auto;
}

.cube1, .cube2 {
  background-color: #a72926;
  opacity:0.8;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -15px;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}
.welcome-instructions-image .cube1, .welcome-instructions-image .cube2 {
  background-color:#fff;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.options-label{
  font-size:0.8em;
  margin-top:2em;
  padding-left:3em;
}
.options-label:hover{
  cursor:pointer;
}
.welcome-instructions-image {
  background-image: url("./img/gathering_medium.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position:right;  
  width:100%;
  height:100%;
  position:fixed;
}
.welcome-instructions{
  padding:1em 2em 2em 2em;
  background: rgba(0, 0, 0, 0.5);
  color:#fff;
  font-size:1.3em;
  height:100%;
}
.welcome-instructions li{
  text-align:left;
  font-size:1.5em;
  margin-bottom:1em;
}
.welcome-instructions h4{
  font-size:2em;
}
